@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

.MenuItem-Area {
    font-family: "Italiana";
    position: relative;
    left: 200px;
    margin-bottom: 80px;
}

.MenuItem-Title {
    font-size: 26px;
}

.MenuItem-Content {
    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: 220px 450px 100px 100px;
}

.MenuItem-Image {
    width: 200px;
    height: 200px;
    margin-right: 20px; 
}

.MenuItem-ButtonArea {
    position: relative;
    left: 120px;
    bottom: 100px;
}

.MenuItem-AddButton {
    display: block;
    width: 40px;
    height: 35px;
    position: relative;
    bottom: 100px;
    cursor: pointer;
}

.MenuItem-RemoveButton {
    display: block;
    width: 40px;
    height: 35px;
    position: relative;
    top: 10px;
    cursor: pointer;
}

.MenuItem-ItemDescription {
    font-size: 24px;
    width: 400px;
    position: relative;
    bottom: 25px;
}

.MenuItem-PriceArea {
    width: 100px;
}

.MenuItem-Price {
    font-family: "Italiana";
    font-size: 32px;
    position: relative;
    bottom: 35px;
}

.MenuItem-Calories {
    font-family: "Italiana";
    font-size: 24px;
    margin-top: 85px;

}

.MenuItem-AdditionalInformation {
    margin-top: 10px; 
}

.MenuItem-SelectItem {
    position: relative;
    bottom: 140px;
    left: 150px;
    transform: scale(1.5);
    cursor: pointer;
}
