.NavigationBar-Area {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100px;
    width: 100%; 
    background-color: rgb(13, 9, 43);
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 1000; 
    border: 5px solid black; 
}

.View-Menu, .Order-Ahead, .About-Us, .Profile, .HomePage {
    color: white;
    font-family: "Italiana";
    font-size: 32px;
}

.View-Menu:hover,
.Order-Ahead:hover,
.About-Us:hover,
.HomePage:hover,
.Profile:hover {
    cursor: pointer;
}