@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

.Opening-Visuals-Area {
    display: flex;
    flex-direction: column; 
    align-items: center;
    height: 100vh; 
}

.Logo-Circle {
    background-image: url(../../../public/RistoranteLogo5.jpg);
    width: 445px;
    height: 445px;
    border-radius: 50%;
    background-size: contain; 
    margin-top: 190px;
    background-repeat: no-repeat;
}
