.MainFunctionalityArea {
  display: flex;
  align-items: baseline;         
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
  gap: 12px;
}

.HomeButton, .SignOutButton {
  background-color:  rgb(13, 9, 43);
  color: white;
}

.TitleBlock {
  flex: 1 1 70%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;       
}

.TitleBlock h1 {
  margin: 0;
  font-size: 28px;
}

.Greeting {
  margin-top: 6px;            
  font-size: 22px;
  font-style: italic;
  color: black;
}

.UserProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.WhiteCircle {
  cursor: pointer;
  width: 250px;
  height: 250px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ProfileAvatar {
  background-image: url("../../../public/ProfilePicture.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.MemberProfileImageArea {
  display: flex;
  align-items: center;
  gap: 16px;   
  margin-left: 105px;
}

.MembershipBadgeImage {
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}

.MembershipBadgeImage.Amici {
    background-image: url("../../../public/Amici.png");
}

.MembershipBadgeImage.Famiglia {
    background-image: url("../../../public/Famiglia.png");
}

.MembershipBadgeImage.Nonna {
    background-image: url("../../../public/Nonna.png");
}

.MembershipBadgeImage.Villa {
    background-image: url("../../../public/VillaDiLusso.png");
}

.MembershipBadgeImage.Don {
    background-image: url("../../../public/TheDon.png");
}