@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

.Registration-ContentArea {
    display: flex;
    flex-direction: column;
    align-items: center; 
    min-height: 100vh;
    padding-top: 100px;
}

.Registration-Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    padding-top: 20px;
}


.Registration-Title,
.Promo-Message {
    font-family: "Italiana";
    text-align: center;
    margin: 0;
}

.Registration-Title {
    font-size: 46px;
    margin-bottom: 10px; 
}

.Promo-Message {
    font-size: 22px;
}

.Registration-Grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    align-items: start;
    margin-top: 20px; 
    width: 80%; 
}

.Registration-Form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
}

.Button-Container {
    display: flex;
    flex-direction: column; 
    gap: 10px;
    margin-top: 20px;
}
input[type='submit'],
.Login-Redirect {
    width: 100%;
    padding: 12px;
    font-size: 20px; 
    border-radius: 10px;
    cursor: pointer;
}
.Registration-Field {
    width: 100%;
    padding: 12px; 
    font-size: 18px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.Promo-Image {
    position: relative;
    left: 100px;
    width: 600px;
    height: 400px;
}
